*, *:after, *:before{
    box-sizing: border-box;
}

:root {
    --first-color: #17CF97;
    --sec-color: black;
    --accent-color: white;
}

body{
    margin:0;
}

.main-text{
    color: var(--first-color);
}

.bg-img-custom{
    background-image: url('/img/lady.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.nav-link-custom{
    text-decoration: none;
    color: var(--first-color);
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
}

.nav-link-custom:hover{
    color: var(--first-color);
}

.nav-link-custom::before{
    content: "";
    width: 80%;
    background-color: var(--first-color);
    height: 3px;
    transform: scaleX(0);
    transform-origin: center;
    position: absolute;
    bottom: 8px;
    left: 10px;
    transition: 0.8s ease-in-out;
}

.nav-link-custom:hover::before{
    transform: scaleX(1);
    transform-origin: center;
    width: 80%;
}

.logo-custom{
    font-size: 0.8em;
    margin-right: auto;
}


.text-paragraph-custom {
    width: 35%;
}

.btn-home-custom{
    background-color: var(--first-color);
}

.bg-custom-about{
    background-image: url('/img/home.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

// Footer

.text-footer-custom{
    color: var(--first-color);
    font-size: 2em;
}